/* Navigation Section */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
}

h1 {
	font-family: 'Yeseva One', cursive;
}

header {
	width: 100%;
	background-color: #cc99ff;
	margin-bottom: 1em;
}

header h1 {
	padding-top: 2em;
	text-align: center;
	height: 5.5em;
	margin-top: 0;
	font-size: 3em;
}

.item-input form {
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

.item-input form button {
	background-color: lightgreen;
	padding: 5px;
	color: darkgreen;
	border: 2px solid darkgreen;
	border-radius: 5px;
}

.list-items {
	width: 16em;
	margin-left: auto;
	margin-right: auto;
}

.list-items h1 {
	text-align: center;
	border: 2px solid black;
	margin-bottom: 0;
	margin-top: 30px;
}

.list-items li {
	list-style-type: none;
	border: 1px solid black;
	margin-bottom: 10px;
	padding-left: 20px;
	width: 16em;
	margin-top: 5px;
	margin-left: -40px;
}

.list-items button {
	float: right;
	clear: both;
	background-color: #ff3333;
	padding: 1px;
	color: white;
	border: none;
	margin-right: 20px;
}

label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

/*input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}*/

.vlad{background-image:url(http://csscheckbox.com/checkboxes/vlad.png);}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:27px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}

footer {
	background-color: #cc99ff;
}

.content-footer {
	width: 100%;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-top: 3em;
	font-size: 0.8em;
}